html {
	font-size: 16px;
}

body {
	font-family: 'roboto', sans-serif;
	margin: relative;

}

/* Header and Nav bar*/


a {
	text-decoration: none; 
	color: #696969; 
	opacity: 1;
	transition: 0.3s;
}

a:hover {
	opacity: 0.6;
}


.container {
   margin: 0 auto;
   width: 100%;
   padding-top: 20px;
}


.logo {
	float: left;
	padding-left: 30px;
	height: 40px;
	width: 50px;
}


.title {
	font-size: 32px;
	font-family: Helvetica;
}

#first {
	color: #696969;
	font-weight: 600;
}

#second {
	color: #aeb1b1;
	font-weight: 400;
}

nav {
	float: right;
	text-decoration: none;

}


nav ul {
	margin: 0;
	padding: 0;

}

nav li {
	display: inline-block;
	padding-right: 24px;
	font-family: Helvetica;
	font-weight: 600;
	color: #696969;

}


/*First container and content*/

.container1 {
	display: flex;
	background-color: #c6c8c8;
	margin-top: 24px;
	padding: 32px 24px;
	
}

.banner {
	display: flex;
	align-items: center;
	flex-direction: row;
	
}

.banner img {
	width: 60%;
}

.banner-info {
	font-size: 1.5rem;
	padding-left: 1.5rem; 


}

.banner-info h1 {
	font-family: Helvetica;
	font-size: 4.5rem;
	font-weight: 600;
	color: #525353; 
}

.banner-info h2 {
	font-family: Helvetica;
	font-size: 2rem;
	font-weight: 600;
	color: #525353; 
}

.button {
	text-align: center;
	font-family: Helvetica;
	font-weight: 500;
	color: white; 
	background-color: #525353; 
	padding: 8px 8px;
	opacity: 1;
	transition: 0.3s;
	width: 40%;
	margin-left: 100px;
	border-radius: 5px;
    
}

.button:hover {
	opacity: 0.6;
}


/*Second container and content*/

.banner2{  
  display: flex;
  background-color: #f8f8f6;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.leftban {
    padding: 2rem 1.5rem;
    width: 76%;
}

.leftban img {
	width: 93%;
	margin-right: 3rem;
}

.leftban h1 {
	font-family: Helvetica;
	font-size: 4rem;
	font-weight: 600;
	color: #525353; 
	padding-top: 2rem;
	padding-bottom: 1.5rem;

}

.leftban p {
	font-family: Helvetica;
	line-height: 2rem;
	font-size: 1.5rem;
	color: #525353;
}

#website {
    font-family: Helvetica;
	line-height: 2rem;
	font-size: 1.5rem;
	color: #525353;
	padding-bottom: 2rem;
}

.rightban {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    max-height: 100vh;
    padding-top: 15px;
}



.orientation {
	display: flex;
	align-items: center;
	opacity: 1;
	transition: 0.3s;

}

.orientation img {
	box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
}

.orientation:hover {
    opacity: 0.6;
	
}

.info {
    flex: 1;
    padding-left: 1.5rem;
    line-height: 2.5rem;
}

.rightban h3 {
    font-family: Helvetica;
	font-size: 2rem;
	font-weight: 600;
	color: #525353; 

}

.rightban p {
	font-family: Helvetica;
	line-height: 2rem;
	font-size: 1.5rem;
	color: #525353;
	
}



/*Third container and content*/


.container3 {
	display: flex;
	background-color: #e2e2e2;
	flex-direction: column;
	align-items: center;
	padding-top: 2rem;
}  

.container3 h1 {
	padding-bottom: 2rem;
    font-family: Helvetica;
    color: #525353;
    font-size: 4rem;
}




.courses {
	display: flex;
	flex-wrap: wrap;
	padding-left: 72px;	
	padding-bottom: 2rem;
    
}



.topcourses {
	display: flex;
	padding-bottom: 2rem;
	background-color: white;
	justify-content: space-around;
	line-height: 3rem;
}


.bottomcourses {
	display: flex;
	padding-bottom: 2rem;
	background-color: white;
	justify-content: space-around;
	line-height: 3rem;
}

.course {
	opacity: 1;
	transition: 0.3s;
	justify-content: space-between;
	box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
}

.course:hover {
	opacity: 0.6;
} 


.text {
    padding-left: 16px;	
}

.text h3 {
	background-color: white;
	flex: 1;
	font-family: Helvetica;
    color: #525353;
    font-size: 2rem;
    font-weight: 600;
} 

.text p {
	background-color: white;
	flex: 1;
	font-family: Helvetica;
    color: #525353;
    font-size: 1.5rem;

}


/*Fourth container and content*/


.banner4{  
  display: flex;
  background-color: #f8f8f6;
  padding-top: 1.5rem;
  justify-content: space-between;
}

.leftban1 {
    padding: 2rem 1.5rem;
    
}


.leftban1 h1 {
	font-family: Helvetica;
	font-size: 2rem;
	font-weight: 600;
	color: #525353; 
	padding-top: 2rem;
	padding-bottom: 1.5rem;

}

.leftban1 p {
	font-family: Helvetica;
	line-height: 2rem;
	font-size: 1.5rem;
	color: #525353;
	padding-bottom: 2rem;
}


.rightban1 {
	z-index: 1;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	padding-right: 14rem;
	justify-content: space-around;
	padding-bottom: 20.5rem;

}



.rightban1 h3 {
    font-family: Helvetica;
	font-size: 2rem;
	font-weight: 600;
	color: #525353; 

}

.rightban1 p {
	font-family: Helvetica;
	line-height: 2rem;
	font-size: 1.5rem;
	color: #525353;
	

}

.footer{ 
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;   
	background-color: #f8f8f6;
	border-top: 3px solid #f1f1f1;

 }

 .footer span {
 	font-family: Helvetica;
    font-size: 1.5rem;
	color: #525353;
	padding-top: 16px;
	padding-bottom: 32px;
 }
 
 
 /* MEDIA QUERIES */ 
 
