html {
	font-size: 16px;
}

body {
	font-family: 'roboto', sans-serif;

}

header {
   

}

.container {
   margin: 0 auto;
   width: 100%;
   padding-top: 20px;

}


.logo {
	float: left;
	padding-left: 30px;

}

.title {
	font-size: 32px;
	font-family: Helvetica;
}

#first {
	color: #696969;
	font-weight: 600;

}

#second {
	color: #aeb1b1;
	font-weight: 400;
}

nav {
	float: right;


}

nav ul {
	margin: 0;
	padding: 0;

}

nav li {
	display: inline-block;
	padding-right: 24px;
	font-family: Helvetica;
	font-weight: 600;
	color: #696969;

}


/*First container and content*/

.container1 {
	display: flex;
	background-color: #c6c8c8;
	margin-top: 24px;
	padding-top: 32px;
	padding-left: 24px;
	padding-bottom: 24px;
	
}

.banner {
	display: flex;
	align-items: center;
	flex-direction: row;
	
}

.banner-info {
	font-size: 24px;
	padding-left: 24px; 


}

.banner-info h1 {
	font-family: Helvetica;
	font-size: 4.5rem;
	font-weight: 600;
	color: #525353; 
}

.banner-info h2 {
	font-family: Helvetica;
	font-size: 2rem;
	font-weight: 600;
	color: #525353; 
}

.button {
	text-align: center;
	font-family: Helvetica;
	font-weight: 500;
	color: white; 
	background-color: #525353; 
	padding: 8px 8px;



}